<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swk.basket.wang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SigninActivity" />
        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player" />
        <activity
            android:name=".TeamActivity"
            android:label="@string/title_activity_team" />
        <activity
            android:name=".InGameActivity"
            android:label="@string/title_activity_in_game" />
        <activity
            android:name=".WaitActivity"
            android:label="@string/title_activity_wait"/>
        <activity
            android:name=".GameInfoActivity"
            android:label="GameInfoActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            />
    </application>

</manifest>
